@Html.Partial( "ShareStyle" )

<!-- 表面 -->
<div class="formrow">
	<div id="BodyTitle" class="formtitles">名刺表面デザイン</div>
</div>

<div id="BodyContent">

	<div class="cardParent">

		<div class="cartPattern cpbg1" id="pattern" data-kind="O1">名刺表面パターン#1</div>
		<div class="cartPattern cpbg2" id="pattern" data-kind="O2">名刺表面パターン#2</div>
		<div class="cartPattern cpbg3" id="pattern" data-kind="O3">名刺表面パターン#3</div>
		<div class="cartPattern cpbg4" id="pattern" data-kind="O4">名刺表面パターン#4</div>
		<div class="cartPattern cpbg5" id="pattern" data-kind="O5">名刺表面パターン#5</div>

	</div>

</div>
