@Html.Partial( "ShareStyle" )

<!-- ウラ面 -->
<div class="formrow">
	<div id="BodyTitle" class="formtitles">名刺ウラ面デザイン</div>
</div>

<div id="BodyContent">

	<div class="cardParent">

		<div class="cartPattern" id="pattern" data-kind="R1">名刺ウラ面パターン#1</div>
		<div class="cartPattern" id="pattern" data-kind="R2">名刺ウラ面パターン#2</div>
		<div class="cartPattern" id="pattern" data-kind="R3">名刺ウラ面パターン#3</div>
		<div class="cartPattern" id="pattern" data-kind="R4">名刺ウラ面パターン#4</div>
		<div class="cartPattern" id="pattern" data-kind="R5">名刺ウラ面パターン#5</div>

	</div>

</div>
